.tile{
    max-width: 300px;
    max-height: 300px;
    border: 1px solid lightgray;
    margin-top: 50px;
}

.tile__link{
    width: 100%;
}

.tile__image{
    /* width: 100%;
    object-fit: contain; */
    height: 75%;
    z-index: 2;
}

.icon{
    position: relative;
    bottom: 0;
    left: 0;
}